
$firstColor: #FFFFFF;
$blue: #7089c2;
$orange: #e67747b3;
$creme: #ffeab3b3;

$buttonColor: #0d2561;
$buttonHoverColor: #245325;
$highlightColor: red;

$primaryFont: "Kalam", cursive;
$secondaryFont: "Open Sans", sans-serif;